{% extends "layout.html" %}
{% block content %}

<div class="pt-5 text-center">
	<form action="{{ url_for('results') }}" method=post class="justify-content-center">
	  <div class="form-group d-inline">
	    <label type="text" name="search" class=""></label>
	    <input type="text" placeholder="{{busc}}" name="search" class="align-middle d-inline w-25 p-2 form-control">
	    <button type="submit" class="btn btn-primary align-middle d-inline" action="", id="gobt">Detect</button>
	  </div>
	  <div class="form-group"> 
		</label>
		
	  </div>

	  <div class="p-3 loader">Un momento por favor, esto podría tomar un par de minutos...<br><img src="/static/img/loader4.gif" class="img-fluid p-4"></div>

	</form>
</div>

{% endblock content %}